

<h1>Calendar Event Details</h1>

<p>Title: <%= @calendar_event.title %></p>
<p>Description: <%= @calendar_event.description %></p>


<%= link_to 'Back to Calendar', calendar_events_path, class: 'btn btn-secondary' %>
